In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
BASE_DIR = Path('C:/Users/atw10wp4/Jupyter/AdventOfCode/Data')

In [3]:
fileName = '2021_04_input.txt'
fileNameFullPath = BASE_DIR / fileName

In [4]:
df = pd.read_csv(fileNameFullPath, header=None, names=['Boards'], skiprows=2)
draw_list = pd.read_csv(fileNameFullPath, header=None, nrows=1).iloc[0]

In [5]:
df = df['Boards'].str.extract('(.{3}|.{2})' * 5)

In [6]:
df = df.apply(pd.to_numeric, errors='ignore')

In [7]:
boards = np.split(df, df.shape[0]/5)
boards[0]

    0   1   2   3   4
0  92   3  88  13  50
1  90  70  24  28  52
2  15  98  10  26   5
3  84  34  37  73  87
4  25  36  74  33  63

In [8]:
def is_bingo(bingo):
    i_have_bingo = False
    for i, col in bingo.items():
        if col.all():
            i_have_bingo = True
            break
    if not i_have_bingo:
        for i, row in bingo.iterrows():
            if row.all():
                i_have_bingo = True
                break
    return i_have_bingo

In [9]:
df_bingo = pd.DataFrame(np.full(df.shape, False))
df_bingo.index = df.index
df_bingo.columns = df.columns
bingos = np.split(df_bingo, df_bingo.shape[0]/5)
bingos[0]

       0      1      2      3      4
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False

In [10]:
winning_board = None
winning_bingo = None
i_have_bingo = False
last_number_drawn = -1
for i in draw_list:
    if not i_have_bingo:
        for board, bingo in zip(boards, bingos):
            bingo += (board == i)
            if is_bingo(bingo):
                i_have_bingo = True
                winning_board = board
                winning_bingo = bingo
                last_number_drawn = i
                break

In [11]:
winning_board, winning_bingo

(      0   1   2   3   4
 245  15  56  39  57  40
 246  67  59  26  30  90
 247  84   2  41  25   7
 248  96  23  79  99  85
 249  13  10  86  51  53,
          0      1      2      3      4
 245   True  False   True  False  False
 246   True   True  False  False  False
 247   True   True   True   True   True
 248  False   True  False  False  False
 249  False  False  False  False  False)

In [12]:
sum_of_unmarked_numbers = winning_board[~winning_bingo].sum().sum()
sum_of_unmarked_numbers, last_number_drawn

(871.0, 41)

In [13]:
sum_of_unmarked_numbers * last_number_drawn

35711.0