In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
BASE_DIR = Path('C:/Users/atw10wp4/Jupyter/AdventOfCode/Data')

In [3]:
fileName = '2021_05_input.txt'
fileNameFullPath = BASE_DIR / fileName

In [4]:
df = pd.read_csv(fileNameFullPath, header=None, sep=' -> |,', 
                 names=['x1', 'y1', 'x2', 'y2'], engine='python')

In [5]:
df

      x1   y1   x2   y2
0    556  286  341   71
1    337  201  782  646
2    786  780  117  111
3    977  864  199   86
4    544  127  544  144
..   ...  ...  ...  ...
495  975  971  672  971
496  122  533   19  636
497  316  512  219  609
498  113  480  716  480
499  483  540  845  178

[500 rows x 4 columns]

In [6]:
sea_bed_size = df.values.max() + 1
sea_bed = pd.DataFrame(np.zeros([sea_bed_size, sea_bed_size]))
sea_bed

,0,1,2,3,4,5,6,7,8,9,...,981,982,983,984,985,986,987,988,989,990
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
for i, line in df.iterrows():
   
    if line['x1'] <= line['x2']:
        x_range = range(line['x1'], line['x2']+1)
    else:
        x_range = range(line['x2'], line['x1']+1)
    if line['y1'] <= line['y2']:
        y_range = range(line['y1'], line['y2']+1)
    else:
        y_range = range(line['y2'], line['y1']+1)

    if len(x_range) > 1 and len(y_range) == 1:
        for x in x_range:
            sea_bed[x][line['y1']] += 1
    elif len(y_range) > 1 and len(x_range) == 1:
        for y in y_range:
            sea_bed[line['x1']][y] += 1

In [8]:
(sea_bed >= 2).values.sum()

5145