In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
BASE_DIR = Path('C:/Users/atw10wp4/Jupyter/AdventOfCode/Data')

In [33]:
fileName = '2021_04_input_test.txt'
fileNameFullPath = BASE_DIR / fileName

In [53]:
df = pd.read_csv(fileNameFullPath, header=None, names=['Boards'], skiprows=2)
draw_list = pd.read_csv(fileNameFullPath, header=None, nrows=1).iloc[0]

In [54]:
draw_list

0      7
1      4
2      9
3      5
4     11
5     17
6     23
7      2
8      0
9     14
10    21
11    24
12    10
13    16
14    13
15     6
16    15
17    25
18    12
19    22
20    18
21    20
22     8
23    19
24     3
25    26
26     1
Name: 0, dtype: int64

In [55]:
df = df['Boards'].str.extract('(.{3}|.{2})' * 5)

In [58]:
df = df.apply(pd.to_numeric, errors='ignore')

In [92]:
boards = np.split(df, df.shape[0]/5)
boards

[    0   1   2   3   4
 0  22  13  17  11   0
 1   8   2  23   4  24
 2  21   9  14  16   7
 3   6  10   3  18   5
 4   1  12  20  15  19,
     0   1   2   3   4
 5   3  15   0   2  22
 6   9  18  13  17   5
 7  19   8   7  25  23
 8  20  11  10  24   4
 9  14  21  16  12   6,
      0   1   2   3   4
 10  14  21  17  24   4
 11  10  16  15   9  19
 12  18   8  23  26  20
 13  22  11  13   6   5
 14   2   0  12   3   7]

In [90]:
df_bingo = pd.DataFrame(np.full(df.shape, False))
df_bingo.index = df.index
df_bingo.columns = df.columns
bingos = np.split(df_bingo, df_bingo.shape[0]/5)
bingos

[       0      1      2      3      4
 0  False  False  False  False  False
 1  False  False  False  False  False
 2  False  False  False  False  False
 3  False  False  False  False  False
 4  False  False  False  False  False,
        0      1      2      3      4
 5  False  False  False  False  False
 6  False  False  False  False  False
 7  False  False  False  False  False
 8  False  False  False  False  False
 9  False  False  False  False  False,
         0      1      2      3      4
 10  False  False  False  False  False
 11  False  False  False  False  False
 12  False  False  False  False  False
 13  False  False  False  False  False
 14  False  False  False  False  False]

In [73]:
for i in draw_list:
    for board, bingo in zip(boards, bingos):
        bingo += (board == i)
    if i > 15:
        break

In [74]:
df_bingo

        0      1      2      3      4
0   False  False   True   True  False
1   False  False  False   True  False
2   False   True  False  False   True
3   False  False  False  False   True
4   False  False  False  False  False
5   False  False  False  False  False
6    True  False  False   True   True
7   False  False   True  False  False
8   False   True  False  False   True
9   False  False  False  False  False
10  False  False   True  False   True
11  False  False  False   True  False
12  False  False  False  False  False
13  False   True  False  False   True
14  False  False  False  False   True

In [89]:
bingo = 0
for x in np.split(df_bingo, df_bingo.shape[0]/5):

       0      1      2      3      4
0  False  False   True   True  False
1  False  False  False   True  False
2  False   True  False  False   True
3  False  False  False  False   True
4  False  False  False  False  False
asdasd
       0      1      2      3      4
5  False  False  False  False  False
6   True  False  False   True   True
7  False  False   True  False  False
8  False   True  False  False   True
9  False  False  False  False  False
asdasd
        0      1      2      3      4
10  False  False   True  False   True
11  False  False  False   True  False
12  False  False  False  False  False
13  False   True  False  False   True
14  False  False  False  False   True
asdasd

In [81]:
df_bingo.shape[0]

15